<mat-toolbar>
  <span>{{getToolbarTitle()}}</span>
  <span class="fill-space"></span>
  <button mat-stroked-button (click)="onClose()" tabindex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<form [formGroup]="ingredientService.form" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="cookbook-card">
    <mat-card-content>
      <input type="hidden" formControlName="id" />
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Description" formControlName="description" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="ingredientService.form.invalid">{{getUpsertButtonText()}}</button>
    </mat-card-actions>
  </mat-card>
</form>
