<hr />
<button mat-raised-button (click)="onCreate()">
  <mat-icon>add</mat-icon> Create
</button>
<hr />
<mat-form-field class="search-form-field">
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Biryani" autocomplete="off" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="recipeDatasourceService.recipeDataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="preparationTimeInSeconds">
      <mat-header-cell *matHeaderCellDef mat-sort-header>PreparationTimeInSeconds</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.preparationTimeInSeconds}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="preparationTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Preparation Time</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{recipeService.getTimeFromSeconds(element.preparationTimeInSeconds)}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="cookTimeInSeconds">
      <mat-header-cell *matHeaderCellDef mat-sort-header>CookTimeInSeconds</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cookTimeInSeconds}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="cookTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Cook Time</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{recipeService.getTimeFromSeconds(element.cookTimeInSeconds)}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="readyInSeconds">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ReadyInSeconds</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.readyInSeconds}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="readyIn">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ready In</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{recipeService.getTimeFromSeconds(element.readyInSeconds)}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="servings">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Servings</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.servings}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Image</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.image}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="editRecipe(row)">
          <mat-icon>launch</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteRecipe(row.id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>

