<div>
  <mat-toolbar>
      <span class="fill-remaining-space"></span>
      <span>{{ title }}</span>
      <span class="fill-remaining-space"></span>
  </mat-toolbar>
  <app-ingredient-list></app-ingredient-list>
</div>