<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <mat-icon mat-list-icon>
        restaurant_menu
      </mat-icon> 
      <h3>&nbsp;Menu</h3>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/Recipes']" routerLinkActive="active">
        <mat-icon mat-list-icon>
          fastfood
        </mat-icon>
        <p mat-line>Recipes</p>
      </a>
      <a mat-list-item [routerLink]="['/Ingredients']" routerLinkActive="active">
        <mat-icon mat-list-icon>
          lunch_dining
        </mat-icon>
        <p mat-line>Ingredients</p>
      </a>
      <a mat-list-item [routerLink]="['/Measurements']" routerLinkActive="active">
        <mat-icon mat-list-icon>
          linear_scale
        </mat-icon>
        <p mat-line>Measurements</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <i class="material-icons">menu_book</i><span>&nbsp;Cookbook App</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
