<div>
  <mat-toolbar>
      <span class="fill-remaining-space"></span>
      <span>{{ title }}</span>
      <span class="fill-remaining-space"></span>
  </mat-toolbar>
  <app-measurement-list></app-measurement-list>
</div>